<nav
  class="navbar navbar-expand-lg bg-white navbar-light sticky-top px-4 px-lg-5 py-lg-0"
>
  <a href="/" class="navbar-brand d-flex align-items-center">
    <img
      src="/img/logo.png"
      class="logo"
      style="position: sticky; height: auto; left: 0px; width: 100px"
    />
  </a>
  <button
    type="button"
    class="navbar-toggler"
    data-bs-toggle="collapse"
    data-bs-target="#navbarCollapse"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <div class="navbar-nav ms-auto py-3 py-lg-0">
      <a href="/" class="nav-item nav-link">Home</a>
      <a href="/about" class="nav-item nav-link">About Us</a>
      <a href="/teams" class="nav-item nav-link">Our Team</a>
      <a href="/services" class="nav-item nav-link">Services</a>
      <a href="/internship" class="nav-item nav-link">Internship</a>
      <a href="/blog" class="nav-item nav-link">Blogs</a>
      <a href="/contact" class="nav-item nav-link">Contact Us</a>
      <a href="/techniques" class="nav-item nav-link">Techniques</a>
    </div>
  </div>
</nav>
