<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Techniques-mudbeaversikkim</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="keywords" />
    <meta content="" name="description" />

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon" />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Poppins:wght@600;700&display=swap"
        rel="stylesheet" />

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />

    <!-- Libraries Stylesheet -->
    <link href="lib/animate/animate.min.css" rel="stylesheet" />
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet" />

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet" />
</head>

<body>
    <!-- Spinner Start -->
    <div id="spinner"
        class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-grow text-primary" role="status"></div>
    </div>
    <!-- Spinner End -->

    <%- include('../partials/header.ejs') %>

        <!-- Page Header Start -->
        <div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
            <div class="container text-center py-5">
                <h1 class="display-4 text-white animated slideInDown mb-4">Our Techniques</h1>
                <nav aria-label="breadcrumb animated slideInDown">
                    <ol class="breadcrumb justify-content-center mb-0">
                        <li class="breadcrumb-item">
                            <a class="text-white" href="/">Home</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a class="text-white" href="#">Pages</a>
                        </li>
                        <li class="breadcrumb-item text-primary active" aria-current="page">
                            Our Techniques
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
        <!-- Page Header End -->

        <!-- About Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="row g-5">
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="position-relative overflow-hidden ps-5 pt-5 h-100" style="min-height: 40px">
                            <img class="position-absolute w-100 h-100" src="img/abbh.png" alt=""
                                style="object-fit: cover" />
                            <div class="position-absolute top-0 start-0 bg-white pe-3 pb-3"
                                style="width: 200px; height: 200px">
                                <div class="d-flex flex-column justify-content-center text-center h-100 p-3"
                                    style="background-color: #964b00">
                                    <h1 class="text-white">Mud</h1>
                                    <h2 class="text-white">Beavers</h2>
                                    <h5 class="text-white mb-0">Sikkim</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="h-100">
                            <div class="border-start border-5 border-primary ps-4 mb-5">
                                <h6 class="text-body text-uppercase mb-2">Our Techniques</h6>
                                <h1 class="display-6 mb-0">
                                    Building With Earth
                                </h1>
                            </div>
                            <h5>RAMMED EARTH.</h5>
                            <p>
                                Also known in French as pisé de terre or simply pisé has been used since ages worldwide
                                like many other earth techniques. The earth is mixed thoroughly with water to get a
                                homogeneous humid mix. This humid earth is poured in a form in thin layers and then
                                rammed to increase its density. The increase of density increases as well the
                                compressive strength and the water resistance. Ramming was traditionally done by hand.
                                Since a few decades, ramming is being done mechanically with pneumatic rammers.
                                <br>
                                <br>
                                Soil stabilization gave a great input to rammed earth as well as mechanization. The
                                traditional wooden rammer has been replaced by pneumatic rammers. Heavy wooden formworks
                                evolved into light composite ones, made of plywood, wood and steel or sometimes
                                aluminium. Pneumatic rammers, dumpy loaders, mixers, ban conveyors, etc. allowed to
                                build faster and get a better quality finish. Structures are most of the time built with
                                pier walls, meaning that walls are built up to their full height at once. This way of
                                building changed totally the design pattern of structures.
                                <br><br>
                            <p>
                                The worldwide tradition of rammed earth construction has shown that it is possible to
                                achieve long lasting and majestic buildings from single to multi storey. Wonderful
                                heritage can be found in countries such as France, Spain, Morocco, China, and all over
                                the Himalayan area. One can see numerous and wonderful examples with all kinds of
                                buildings:
                                <br><br>
                                • Farms, or rural houses, chateaux and apartments in Europe
                                <br><br>
                                • Entire villages in North Africa
                                <br><br>
                                • Parts of the great wall of China
                                <br><br>
                                • Buildings in most of the Himalayan regions of Tibet, Bhutan, Nepal, Ladakh
                                <br><br>
                                • Widespread examples in South America
                                <br><br>
                            </p>
                            </p>
                            <h5>WATTLE AND DAUB</h5>

                            <p>
                                <br>
                                A techniques that has been our go to way to construct using earth and bamboo.
                                <br>
                                <br>
                                A load bearing structure, generally made with wood, is closed using panels. The latter
                                are made of a lattice plastered on both sides with a plastic soil.
                                <br>
                                <br>
                                The lattice frame holds the soil and gives rigid panels. This lattice is often made of
                                reeds, sticks or bamboo. It has been extensively used in many parts of the world: in
                                developing countries as well as in Europe. In France (Normandie & Bretagne) the earth
                                was often stabilized with the urine of horse: the ammonia contained in the urine gave
                                water resistant properties, to a certain extent, to the soil.
                            </p>
                            <br />
                            <h5>EARTH FILLED IN</h5>

                            <p>
                                Humid soil was traditionally poured into wooden lattice works. Thus, it gave some
                                thermal mass to light structures as well as some acoustic insulation. In recent times,
                                dry soil has been poured into synthetic textiles which are hold outside by wooden poles
                                driven into the ground.
                                <br />
                                We believe in bringing positive and proper changes within the
                                building industry in context of constructional practises being
                                carried.
                                <br />
                                <br />
                                Dry soil is also being poured into long synthetic tubes, which are staked upon each
                                other. Cal-Earth (The California Institute of Earth Art and Architecture)
                                www.calearth.org which was founded and headed by the architect Nader Khalili does an
                                extensive use of filled in technique. They call it Superadobe construction and they are
                                building what is called Eco-domes.
                                <br><br>
                                Superadobe structures are an excellent example of green building techniques. They use
                                Tubular roll of sandbag-type material which are filled with earth. A barbed wire is use
                                to bind the earth tube together. Later on the earth tubes are plastered with stabilised
                                earth plaster.
                            </p>
                            <div class="border-start border-5 border-primary ps-4 mb-5">
                                <h6 class="text-body text-uppercase mb-2">Our Techniques</h6>
                                <h1 class="display-6 mb-0">
                                    Building With Bamboo
                                </h1>
                            </div>
                            <p>
                                This blend of time-honored techniques and modern solutions is what makes bamboo
                                architecture so exciting and dynamic. It's a field that's constantly evolving, opening
                                up new possibilities for sustainable, innovative construction.
                            </p>
                            <h5>Post-and-Beam Structures</h5>
                            <p>Post-And-Beam StructuresPost and beam structures, a staple in bamboo architecture, draw
                                inspiration from the age-old technique of timber framing. Much like the time-honored
                                methods used in traditional wooden houses, this construction approach employs the same
                                basic principles.</p>
                            <br>
                            <p>
                                The support system of a post and beam structure is composed of three key elements:
                                vertical posts, horizontal beams, and cross-bracings. The latter helps to triangulate
                                the structure, enhancing its stability against lateral loads such as winds
                                and seismic forces.
                            </p>
                            <h5>Hyperbolaic Paraboloids</h5>


                            <p>
                                A hyperbolic paraboloid, or a 'hypar' for short, is a structural system that's as
                                intriguing as its name suggests. Recognizable by its signature 'saddle' shape, it
                                presents a marriage of concave and convex surfaces. The result is a structure where two
                                straight lines intersect at every point, creating a captivating visual effect.

                            </p>
                            <br>
                            <p>
                                The curvature of the surface lends these shells extraordinary stiffness, allowing them
                                to bear considerable loads over vast spans. These qualities make them especially suited
                                for roof structures, though their presence can be seen far and wide in both construction
                                and everyday objects - even in the shape of a Pringles chip!
                            </p>
                            <h5>Hyperbolic (twisted) Towers</h5>
                            <p>
                                The world of bamboo construction is marked by incredible structures, among which the
                                hyperbolic, or twisted towers, truly stand out. These structures, akin to reciprocal
                                structures, exhibit the remarkable strength and versatility of bamboo. The shape of a
                                Reciprocal Tower is reminiscent of a hyperboloid, bearing similarities with the
                                hyperbolic paraboloid. A key difference lies in the geometric construction of the
                                reciprocal tower, which involves rotating a hyperbola around a defined axis. This
                                rotation gives birth to a single-sheeted hyperboloid, unlike the hyperbolic paraboloid
                                which has a doubly-ruled surface
                            </p>
                            <h5>Spatial Gridshells</h5>
                            <p>
                                Bamboo construction continually innovates through structures like Spatial Gridshells,
                                demonstrating the boundless potential of this material. These structures, lightweight
                                yet sturdy, are fashioned from a lattice of bamboo splits. These splits, either
                                intertwined organically or arranged in precise shapes, create captivating, often
                                dome-like structures. The gridshell structural system is a favorite in modern bamboo
                                architecture, credited to its ability to produce elegant, curved forms exhibiting
                                exceptional strength. Furthermore, gridshells excel in crafting large, open spaces,
                                without the need for additional interior supports.
                            </p>



                            <div class="border-start border-5 border-primary ps-4 mb-5">
                                <h6 class="text-body text-uppercase mb-2">Our Techniques</h6>
                                <h1 class="display-6 mb-0">
                                    Building With Stone
                                </h1>
                            </div>

                            <h5>Ashlar Masonry</h5>

                            <p>In this technique, the stones are carefully cut and shaped to fit together without the
                                use of cement. The stones are typically placed in parallel divisions, creating a smooth
                                and consistent surface.</p>

                            <img src="/img/technique/Modus.png" height="150" alt="" srcset="">



                            <br><br>
                            <h5>Rubble Masonry</h5>
                            <p>This method of masonry uses uncut, naturally formed stones that have irregular shapes.
                                The stones are mortared together after being coarsely placed. For structures like
                                farmhouses or rural residences that are intended to blend in with their settings, rubble
                                masonry is frequently used.</p>

                            <img src="/img/technique/Sagrada-familia1.jpg" height="200" alt="" srcset="">

                            <br><br>
                            <h5>Dry Stone Masonry</h5>

                            <p>This method involves placing stones free of mortar. Rural regions frequently have dry
                                stone walls, which are used as slope supports for terraces, retaining walls, and
                                boundary walls. Natural look and low maintenance are its benefits.</p>

                            <img src="/img/technique/Kauffman.png" alt="" height="200">
                            <br><br>
                            <h5>Rustication</h5>

                            <p>In this approach, the stone faces are left unpolished and protruded from the wall. In
                                structures built during the Renaissance era, rustication is frequently used for
                                decorative reasons. The stones’ rough surface stands out sharply in comparison to the
                                nearby stones’ polished surfaces. Its benefits include a distinctive and
                                decorative appearance.</p>

                            <img src="/img/technique/palazzo-medici.jpg" height="150" alt="" srcset="">
                            <br><br>
                            <h5>Polygonal Masonry</h5>

                            <p>This method uses stones of varying sizes and shapes that are puzzled together. The gaps
                                between the stones are generally covered with mortar and they are typically placed in
                                horizontal courses. It has excellent strength and a pleasant, rustic look, but it lacks
                                uniformity. Ancient structures and strongholds frequently made use of polygonal masonry
                                because of its unique and unpolished appearance and irregular form.</p>

                            <img src="/img/technique/Jewish-Museum.jpg" height="200" alt="" srcset="">
                            <br><br>
                            <h5>Cyclopean Masonry</h5>

                            <p>This technique uses big, asymmetrical shaped stones to build enormous structures. The
                                heavy stones must be moved and placed with considerable strength and expertise in
                                cyclopean masonry. Cyclopean Masonry
                                This technique uses big, asymmetrical shaped stones to build enormous structures. The
                                heavy stones must be moved and placed with considerable strength and expertise in
                                cyclopean masonry.</p>

                            <div class="border-top mt-4 pt-4">
                                <div class="row g-4"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->

        <!-- Footer Start -->
        <%- include('../partials/footer.ejs')%>
            <!-- Footer End -->

            <!-- Back to Top -->
            <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>

            <!-- JavaScript Libraries -->
            <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
            <script src="lib/wow/wow.min.js"></script>
            <script src="lib/easing/easing.min.js"></script>
            <script src="lib/waypoints/waypoints.min.js"></script>
            <script src="lib/owlcarousel/owl.carousel.min.js"></script>

            <!-- Template Javascript -->
            <script src="js/main.js"></script>
</body>

</html>